AWS_ACCESS_KEY_ID=<your-aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-aws-secret-access-key>
AWS_REGION=ap-southeast-3
BEDROCK_MODEL_ID=apac.amazon.nova-lite-v1:0
SSO_REGISTER_URL=<your-google-sso-url>

REDIS_URL=redis://default@127.0.0.1:6379
